<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/ui/static/styles.css">
    <link rel="shortcut icon" href="/ui/static/img/favicon.ico" type="image/x-icon">
    <title>Ascii-Art-Web</title>
</head>
<body>
  <header>
    <a href="/"><h1>Ascii-Art-Web</h1></a>
  </header>
  {{if .Error.IsError}}
  <h1>{{.Error.ErrorStatus}}</h1>
  <p>{{.Error.ErrorText}}</p>
  {{else}}
  <form action="/" method="POST">
      <label for="textInput">Your input:</label>
      <textarea name="text" id="outputText" rows="10" cols="50"></textarea>
      <label for="dropdown">Choose a font:</label>
      <select id="dropdown" name="banners">
        <option value="standard">Standard</option>
        <option value="shadow">Shadow</option>
        <option value="thinkertoy">Thinkertoy</option>
      </select>
    <input type="submit" value="Submit">
  </form>
  {{with .Result}}
  <div id="outputText">
    <pre>{{.}}</pre>
  </div>
  {{end}}
  {{end}}
</body>
</html>